.App {
  text-align: center;
}

.App-logo {
  height: 30px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 1em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Arrow-button {
  border-radius: 50%;
  background-color: #f2f2f2;
  margin: 3px;
}

.Arrow-button:hover{
  cursor: pointer;
  background-color: #d8d8d8;
}



